.row {
  display: block;
}

h3 {
  display: inline;
}

h5 {
  color: lightgray;
}

input {
  height: 50px;
  width: 150px;
  margin: 20px;
  font-size: 2em;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgray;
}

.keypad, .equation {
  margin: 0 auto;
}

.btn {
  margin: 10px;
}

.answer {
  height: 20px;
}
